asgiref==3.12.1
crispy-bootstrap5==2024.2
dj-database-url==3.1.2
Django==5.0.14
django-cleanup==9.0.0
django-crispy-forms==2.2
django-decouple==2.1
mysqlclient==2.2.8
pillow==12.3.0
psycopg==3.3.6
psycopg-binary==3.3.6
sqlparse==0.5.5
tzdata==2026.3
