<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aproko Blog App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="{% url "home" %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "home" %}">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url "about" %}">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url "blogs" %}">Blogs</a>
            </li>
{% if request.user.is_authenticated %}

    <li class="nav-item">
    <a class="nav-link d-flex align-items-center gap-2" href="{% url "profile" %}">
        {% if request.user.profile.profile_picture %}
            <img src="{{ request.user.profile.profile_picture.url }}"
                 alt="Profile Picture"
                 width="35"
                 height="35"
                 class="rounded-circle">
        {% endif %}
        Profile
    </a>
</li>

    <li class="nav-item">
        <a class="btn btn-primary" href="{% url "create-blog" %}">Create a Post</a>
    </li>

    <li class="nav-item">
        <form action="{% url "logout" %}" method="post">
            {% csrf_token %}
            <button class="btn btn-outline-danger ms-2">Log out</button>
        </form>
    </li>

{% else %}
            <li class="nav-item">
            <a class="btn btn-outline-primary" href="{% url "login" %}">Login</a>
            </li>
            {% endif %}
        </ul>
        </div>
    </div>
    </nav>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info col-md-2 fixed-bottom ms-auto">
            {{message}}</div>
        {% endfor %}
    {% endif %}

    {% block content %}
    
    {% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>